# Install dependencies
npm i
# Install framer-motion and react-icons
npm i framer-motion
npm i react-icons
npm install lucide-react #for the navbuttons and 

# Install Mongoose
npm i mongoose

# Install Mongodb
npm i mongodb

# Install bcrypt for password hashing
npm i bcrypt